## Python Project --- How well do expected goals (xg) match up with the outcome of games and seasons in the English Premier League?

Libraries used in this project.

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Code used to read csv file and create data frame for the project.
Excludes data in the csv file that will not be used in the project. Gives example of how data is currently structured.

In [2]:
df = pd.read_csv('spi_matches.csv')
df = df[df.league == "Barclays Premier League"]
df.head() [['date', 'team1', 'team2', 'score1', 'score2', 'xg1', 'xg2', 'league']]

,date,team1,team2,score1,score2,xg1,xg2,league
2,2016-08-13,Hull City,Leicester City,2.0,1.0,0.85,2.77,Barclays Premier League
3,2016-08-13,Everton,Tottenham Hotspur,1.0,1.0,0.73,1.11,Barclays Premier League
4,2016-08-13,Burnley,Swansea City,0.0,1.0,1.24,1.84,Barclays Premier League
5,2016-08-13,Crystal Palace,West Bromwich Albion,0.0,1.0,1.11,0.68,Barclays Premier League
6,2016-08-13,Middlesbrough,Stoke City,1.0,1.0,1.40,0.55,Barclays Premier League

Creating the database for the EPL (English Premier League) table

In [3]:
df.to_sql("epl_table", sqlite3.connect("epl.db"), if_exists = "replace")

Connecting to the database and querying back the information with SQL